body {
  background: #fff;
  image-rendering: pixelated;
  font-family: 'Verdana', sans-serif;
}

canvas {
  margin-bottom: 1em;
  border: 1px solid #000;
  background: #fff;
  display: inline-block;
}

div {
  display: inline-block;
  vertical-align: top;
}

div button {
  display: block;
  margin: 0.5em;
}

label {
  display: block;
  font-size: 0.8em;
}
