@font-face {
  font-family: 'Joystix';
  src: url('joystix.ttf') format('truetype');
}

body {
  background: #222;
  color: #bbb;
  image-rendering: pixelated;
  font-family: 'Joystix', sans-serif;
  font-size: 12px;
}

canvas {
  margin-bottom: 1em;
  background: #fff;
  display: inline-block;
}

div {
  display: inline-block;
  vertical-align: top;
}

div button {
  display: block;
  margin: 0.5em;
}

label {
  display: block;
  font-size: 0.8em;
}
